* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'sans-sarif';
}
.container {
  background: url('./Images/2.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}
